<div class="container">
  <h1><%= @car.brand %></h1><br><br>
  Prix : <%= @car.price %> Simflouz<br><br>
  Où est-elle ? : <%= @car.address %><br><br>
  <%= link_to "La réserver maintenant!", new_car_booking_path(@car) %><br><br>
  <%= link_to "Retour", cars_path(@cars) %><br><br>
</div>
